# Ignore images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
!static/images/favicon.svg

# Ignore videos
*.mp4
*.mov
*.avi
*.mkv

# Ignore audio
*.mp3
*.wav

# Ignore compressed files
*.zip
*.rar
*.7z

# Ignore specific folders (example)
/media/
/videos/
/images/

media/uploads/*.pdf

# Local secrets
credentials
commands.txt
*.env
.env
.env.*
